<!--
 This configuration file is used by IDEs: it is picked up by the regular class loader in situations where
 the Lift logger has not been initialised, e.g., because you're not calling Boot
 -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

   <logger name="com.ning.http.client" level="WARN"/>

    <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>